@import "./css/Colors.css";

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fundo da página */
.background {
  background-image: url("./assets/background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  min-height: 100vh;
}

/* Toasts */

.toast-success {
  background-color: black !important;
  color: #f2d98c;
  font-family: 'Arcane', sans-serif;
  font-size: 16px;
  border: 2px solid #f2d98c;
}

.toast-error {
  background-color: black !important;
  color: #e94f4f;
  font-family: 'Arcane', sans-serif;
  font-size: 16px;
  border: 2px solid blue; 
}