:root {
    --pacman: #FFFE01;
    --ghost-blue: #0D92AF;
    --ghost-red: #C62D2C;
    --ghost-orange: #FFA802;
    --blue: #293558;
    --black: #000001;
    --lightblue: #00ffff;
    --grey: #ccc;
    --white: #fff;
  }