.canvas {
  border-radius: 10px !important;
  background-image: url("../../../assets/galaga-background.jpg");
}

.container-galaga {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  height: 90vh;
}

@media (min-width: 1615px) {
  .container-galaga {
    flex-direction: row;
    height: 90vh;
  }
}