.canvas {
  height: auto;
  border-radius: 10px;
  background-image: url("../../../assets/galaga-background.jpg");
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
