  .canvas {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    background-image: url("../../../assets/galaga-background.jpg");
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }

  @media (min-width: 1615px) {
    .container {
      flex-direction: row;
      height: 90vh;
    }
  }