/* .form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgba(12, 11, 11, 0.451);
  border-radius: 8px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2{
  display: flex;
  justify-content: center;
  color: yellow !important;
}

.form-title {
  text-align: center; 
}

.form-name-data{
  margin-top: 5px;
}

.inner-form {
  margin-bottom: 20px;
  width: 100%;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: xx-small
}

.submit-button {
  display: block !important;
  margin: 0 auto !important; 
  margin-top: 10px !important;
  background-color: #00FFFF !important;
  color: black !important;
  font-weight: bold !important;
}


.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link .info {
  color: yellow
}

.login-link a {
  text-decoration: none;
  color: #00FFFF;
}

.login-link a:hover {
  text-decoration: underline;
}

.custom-label {
  color: yellow;
} */