.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #FFFF31 !important; 
}

.image-container {
  padding-bottom: 20px;
  margin-top: -2.5em;
  display: flex;
}

.preview-image {
  width: 200px; 
  height: 200px; 
  object-fit: cover; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.icon-overlay {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}

.icon-dropdown {
  position: absolute;
  top: 7px;
  right: -5px;
  background-color: #222; 
  border: 1px solid #FFFF31; 
  border-radius: 5px;
  padding: 5px;
  display: none;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.icon-dropdown p {
  margin: 5px;
  cursor: pointer;
  color: #FFFF31; 
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon-dropdown p:hover {
  color: #f9ca24; 
  transform: scale(1.1);
}

.custom-label {
  color:#FFFF31 !important;
}

.icon-overlay:hover .icon-dropdown {
  display: block;
}

.custom-label {
  color: #333; 
}

.submit-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #007bff; 
  color: #fff; 
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3; 
}
