.container-pong-mp {
    background-image: url("../../../../assets/pong-background.jpg");
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: center center;
  }